/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Devanagari:wght@100..900&family=Noto+Serif+Devanagari:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Devanagari:wght@100..900&family=Noto+Serif+Devanagari:wght@100..900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 90%;
}
body{
    background-color: #111111;
    color: #f7f7f7;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

/* @media screen and (max-width:1200px) {
    html{
        font-size: 75%;
    }
    
}
@media screen and (max-width:800px) {
    html{
        font-size: 65%;
    }
    
}
@media screen and (max-width:400px) {
    html{
        font-size: 50%;
    }
    
} */
